@{
    ViewData["Title"] = "About";
}

<h1>About Jory Smith</h1>

<p>Full Stack Developer | JavaScript | C# ASP.NET | SQL </p>
<p><a href="https://1drv.ms/b/s!ArgVt-dRUqbnmQ8Cu8MmPrkD1btT?e=r4z2qt">My Resume</a></p>

<h2>Summary of Qualifications</h2>
<p>I’m a full stack developer, UI designer, and photographer. I've developed skills in building professional, stylish, responsive, secure, and scalable web applications that deliver UX results. I'm also a disabled veteran and former lead intelligence analyst that supported Special Operations Forces. I have an award-winning record of driving operational excellence, innovating, and topping client expectations. </p>

<h2>Key Technology Skills</h2>
<p>JavaScript | React | C# | ASP.NET MVC | PostgreSQL | jQuery | Bootstrap | APIs</p>
<p>HTML5 | CSS3 | JSON | UI Design | Figma | GitHub | OOP | Big O | Visual Studio | Agile Jira</p>