@{
    ViewData["Title"] = "About";
}

<h1 class="text-center">About Jory Smith</h1>

<p class="text-center">Full Stack Developer | React | JavaScript | C# | ASP.NET | SQL </p>
<div class="text-center">
    <span class="me-3"><a class="text-primary" href="https://1drv.ms/b/s!ArgVt-dRUqbnmUhRaqcQou0wllAu?e=bhkfC0" target="_blank">My Resume</a></span>
    <span class="me-3"><a class="text-primary" href="https://www.joryiansmith.dev/" target="_blank">Portfolio</a></span>
    <span><a class="text-primary" href="https://www.linkedin.com/in/joryiansmith/" target="_blank">LinkedIn</a></span>
</div>


<h2 class="mt-3">Summary of Qualifications</h2>
<p>I’m a full stack developer, UI designer, and photographer. I've developed skills in building professional, stylish, responsive, secure, and scalable web applications that deliver UX results. I'm also a disabled veteran and former lead intelligence analyst that supported Special Operations Forces. I have an award-winning record of driving operational excellence, innovating, and topping client expectations. </p>

<h2>Key Technology Skills</h2>
<p class="text-center mb-1">React | JavaScript | C# | ASP.NET Core MVC | Databases (PostgreSQL & Firebase) | jQuery | Bootstrap</p>
<p class="text-center mt-2">APIs | HTML5 | CSS3 | JSON | UI Design | Figma | GitHub | OOP | Accessibility | SEO | Visual Studio</p>