@model BlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />
<!-- Post Tags -->
<article>
    <div class="row">
        <div class="col text-center fw-bold h3">
            Post Tags
        </div>
    </div>
    @*For each tag in Model.Tags, display tag.text.ToLower()*@
    <div class="row">
        <div class="col">
            @foreach (var tag in Model.Tags)
           {
               @*Achnor tag link to an asp-action Tag Index*@
               <a asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
           }
        </div>
    </div>
</article>

<hr />

@*Display post's comments*@
@*Display comment author's image*@
